body {
    background-color: #e2e5e7;
    background-image: './image/img.png';
    margin: 0;
    font-style: Yellowtail;
    font-family: Yellowtail;
    font: arvo;
}

code{
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}